<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Depression</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
    integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/normalize.css">

</head>
<body>

    <header>
        <nav class="navbar bg-blue">
            <div class="container flex">
                <a href="index.html" class="navbar-brand">
                    <img src="/static/img/wmw1.png" alt="site logo">
                </a>
                <button type="button" class="navbar-show-btn">
                    <img src="/static/img/ham-menu-icon.png" alt="">
                </button>

                <div class="navbar-collapse bg-white">
                    <button type="button" class="navbar-hide-btn">
                        <img src="/static/img/close-icon.png" alt="">
                    </button>
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a href="/" class="nav-link">HOME</a>
                        </li>
                        <li class="nav-item">
                            <a href="/test" class="nav-link">TAKE A TEST </a>
                        </li>
                    </ul>

                </div>
            </div>
        </nav>
    </header>
    <section class="container">
        <div class="about-section">
            <div class="about-des">
                <h2>Well Mind Wave</h2><br>
                <p>
Welcome to Well Mind Wave, your compassionate companion on the journey to mental well-being.

At Well Mind Wave, we understand that mental health is a vital aspect of overall wellness, and we are dedicated to providing support and resources for those who may be experiencing depression. Our mission is to create a safe and inclusive space where individuals can find information, tools, and assistance in identifying and addressing the challenges associated with depression</p>
            </div>

            <div class="about-des">
                <h2>Who We Are: </h2><br>
                <p>At the heart of Well Mind Wave is a team of passionate individuals, including mental health professionals, tech experts, and individuals who have experienced depression firsthand. We believe in the power of community, empathy, and innovation to make a positive impact on mental health.</p>
            </div>

            <div class="about-des">
                <h2>Our Vision:</h2><br>
                 <p>We envision a world where mental health is prioritized, destigmatized, and accessible to all. Through our platform, we strive to empower individuals to recognize the signs of depression, seek help without judgment, and embark on a journey of healing and resilience.</p>
            </div>

            <div class="about-des">
                <h2>What We Offer:</h2><br>
                 <ul>
                     <li><h3>Depression Screening Tools: </h3><p>Our website features user-friendly and confidential depression screening tools designed to provide individuals with valuable insights into their mental well-being. These assessments are not diagnostic but serve as a starting point for self-awareness.</p></li>

                     <li><h3>Educational Resources: </h3><p>Knowledge is a powerful tool in the fight against depression. We provide comprehensive resources, articles, and guides to help individuals understand depression, its symptoms, and the various treatment options available.</p></li>

                    <li><h3>Supportive Community: </h3><p>Connecting with others who share similar experiences can be a source of strength. Our community forum provides a space for individuals to share their stories, offer support, and find solace in the understanding of a like-minded community..</p></li>

                </ul>
            </div>

            <div class="about-des">
                <h2>Our Commitment: </h2><br>
                <p>Well Mind Wave is committed to promoting mental health awareness, reducing the stigma surrounding depression, and fostering a sense of belonging for all individuals. We prioritize user privacy, confidentiality, and the ethical use of technology in promoting mental well-being.

Thank you for choosing [Your Website Name] as your partner on the path to mental health. Together, let's break the silence, embrace understanding, and build a brighter future for everyone</p>
            </div>

        </div>

    </section>

    <footer class="doc-footer">
        &copy; About Us
    </footer>

    <script src="/static/js/script.js"></script>
</body>
</html>
