<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Depression</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
    integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/normalize.css">

</head>
<body>

    <header>
        <nav class="navbar bg-blue">
            <div class="container flex">
                <a href="index.html" class="navbar-brand">
                    <img src="/static/img/wmw1.png" alt="site logo">
                </a>
                <button type="button" class="navbar-show-btn">
                    <img src="/static/img/ham-menu-icon.png" alt="">
                </button>

                <div class="navbar-collapse bg-white">
                    <button type="button" class="navbar-hide-btn">
                        <img src="/static/img/close-icon.png" alt="">
                    </button>
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a href="/" class="nav-link">HOME</a>
                        </li>
                        <li class="nav-item">
                            <a href="/test" class="nav-link">TAKE A TEST </a>
                        </li>
                    </ul>

                </div>
            </div>
        </nav>
    </header>
    <section class="container">
        <div class="about-section">
            <div class="about-des">
                <h2>What is Depression ?</h2><br>
                <p>Depression is a widespread mental health condition that affects millions of people worldwide. It goes beyond occasional feelings of sadness and is characterized by persistent and intense emotions of despair, hopelessness, and a pervasive lack of interest or pleasure in daily activities. This mood disorder can impact various aspects of a person's life, including their thoughts, emotions, and behaviors.</p>
            </div>

            <div class="about-des">
                <h2>Symptoms : </h2><br>
                <ul>
                    <li>Persistent sadness</li>

                    <li>Loss of interest or pleasure in activities</li>

                    <li>Changes in sleep patterns</li>

                    <li>Fatigue</li>

                    <li>Difficulty concentrating</li>

                    <li>Changes in appetite or weight</li>

                    <li>Thoughts of death or suicide</li>
                </ul>
            </div>

            <div class="about-des">
                <h2>Treatment :</h2><br>
                 <ul>
                    <li>Multifaceted approach</li>

                     <li>Psychotherapy, especially cognitive-behavioral therapy (CBT)</li>

                    <li>Medications, such as antidepressants</li>

                    <li>Lifestyle modifications: exercise, healthy diet, sufficient sleep
</li>
                </ul>
            </div>

            <div class="about-des">
                <h2>Other Mental Health Problem :</h2><br>
                 <ul>
                     <li><h3>Persistent Depressive Disorder (Dysthymia) : </h3><p>Involves long-term, chronic symptoms that may not be as severe as those of major depressive disorder but can last for years.
Individuals with dysthymia may experience periods of major depression.</p></li>

                     <li><h3>Bipolar Disorder (Manic-Depressive Illness) :</h3><p>Involves episodes of depression alternating with periods of mania or hypomania.
    Mania is characterized by elevated mood, increased energy, and impulsive behavior.</p></li>

                    <li><h3>Seasonal Affective Disorder (SAD):</h3><p>Occurs seasonally, often in the winter months when there is less natural sunlight.
Symptoms include low energy, irritability, and changes in sleep and appetite.</p></li>

                     <li><h3>Cyclothymic Disorder:</h3><p>A chronic mood disorder with numerous periods of hypomanic symptoms and mild depressive symptoms.
    Less severe than bipolar disorder.</p>
</li>
                </ul>
            </div>

        </div>

    </section>

    <footer class="doc-footer">
        &copy; About Depression
    </footer>

    <script src="/static/js/script.js"></script>
</body>
</html>
