<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Doctor Profile</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
    integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/normalize.css">

</head>
<body>

    <header>
        <nav class="navbar bg-blue">
            <div class="container flex">
                <a href="index.html" class="navbar-brand">
                    <img src="/static/img/wmw1.png" alt="site logo">
                </a>
                <button type="button" class="navbar-show-btn">
                    <img src="/static/img/ham-menu-icon.png" alt="">
                </button>

                <div class="navbar-collapse bg-white">
                    <button type="button" class="navbar-hide-btn">
                        <img src="/static/img/close-icon.png" alt="">
                    </button>
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a href="/" class="nav-link">HOME</a>
                        </li>
                    </ul>

                </div>
            </div>
        </nav>
    </header>

    <section class="doc-details">
        <img src="/static/img/doc-1.png" alt="Dr. Jessica Miller" class="profile-image" />

        <div class="profile-details">
            <div class="doc-detail">
                <h2>About Dr. Jonathan Miller</h2>
                <p>Dr. Miller is a compassionate psychologist specializing in mental health. He has helped numerous individuals overcome challenges such as anxiety, depression, and stress. Dr. Miller believes in empowering his patients to achieve lasting mental wellness through personalized and evidence-based interventions.</p>
            </div>

            <div class="doc-detail">
            <h2>Experience</h2>
            <p>15 years</p>
            </div>

            <div class="doc-detail">
            <h2>Contact Information</h2>
            <p>Email: jonathanmiller@example.com</p>
            <p>Phone: (123) 456-7890</p>
            </div>

            <div class="doc-detail">
            <h2>Office Hours</h2>
            <p>Monday - Friday: 8:00 AM - 4:00 PM</p>
            </div>

        </div>
    </section>

    <footer class="doc-footer">
        &copy; Doctor Profile Page
    </footer>

    <script src="/static/js/script.js"></script>
</body>
</html>
